<%  
    let arrBox = [
        // {name: 'Items', icon: 'ion-ios-people', link:`${systemConfig.prefixAdmin}/items`, total: countItems},
        {name: 'Liên hệ', icon: 'fa fa-phone', link:`${systemConfig.prefixAdmin}/contact`, total: countContact},
        {name: 'Phòng ban', icon: 'fa fa-home', link:`${systemConfig.prefixAdmin}/groups`, total: countGroups},
        {name: 'Nhân viên', icon: 'fa fa-users', link:`${systemConfig.prefixAdmin}/users`, total: countUsers},
        {name: 'Danh mục tin tức', icon: 'fa fa-th-list', link:`${systemConfig.prefixAdmin}/category`, total: countCategories},
        {name: 'Tin tức', icon: 'fa fa-clipboard', link:`${systemConfig.prefixAdmin}/article`, total: countArticle},
        // {name: 'Tin tức tổng hợp', icon: 'fas fa-link', link:`${systemConfig.prefixAdmin}/rss`, total: countRss},
    ];

    let xhtmlBox = '';
    arrBox.forEach(box => {
        xhtmlBox += `<div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>${box.total}</h3>
                                <p><i class="${box.icon}"></i> ${box.name}</p>
                            </div>
                            <div>   
                                <a href="${box.link}" class="small-box-footer"> Xem chi tiết <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>`;
    });   
%>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <%- xhtmlBox %>
            
        </div>
    </div>
</section>