<div class="col-lg-8 post-list">
	<div class="single-post-wrap">
	
		<div class="feature-img-thumb relative">
			<div class="overlay overlay-bg"></div>
			<img class="img-fluid" src="frontend/img/about-page.jpg" alt="">
		</div>
		<div class="content-wrap">
			<h3>Đôi nét về chúng tôi</h3>
			<div>
				<p>Ngày hoạt động: 01/07/2021</p>
				<p>Sứ mệnh: cung cấp thông tin hữu ích trong cuộc sống tới độc giả trên nhiều lĩnh vực.</p>
				<p>Email: nnloc123@gmail.com</p>
				<p>Địa chỉ: TP.Vinh, Nghệ An</p>
				<p>Điện thoại: +84 0948 119 597</p>
			</div>
		</div>	
	</div>
</div>

