 <!-- SIDE BAR MINI -->
 <div class="sidebarMini">
    <button class="sidebarMini__Button">
        <i class="fa fa-cog"></i>
    </button>
    <div class="sicebarMini__content">
        <h2>Dark Mode</h2>
        <div class="d-flex">
            <span>Off</span>
            <label class="switch" for="checkbox">
                <input type="checkbox" name="" id="checkbox">
                <div class="slider"></div>
            </label>
            <span>On</span>
        </div>
    </div>
</div>