<%
    paginationHelpers = (objectPagination, linkPrefix, currentStatus, keyword) => {
		let totalItems = objectPagination.totalItems;
		let totalItemsPrePage = objectPagination.totalItemsPerPage;
		let totalPages = Math.ceil(totalItems/totalItemsPrePage);
		let currentPage = objectPagination.currentPage;
		let pageRanges = objectPagination.pageRanges;
		let xhtmlPagination = '';
		let to = totalItemsPrePage * currentPage;
		let from = to - totalItemsPrePage + 1;
		if( to > totalItems) to = totalItems;


	if(totalItems >  1){
		let xhtmlStart = '';
		let xhtmlPrevious = '';
		let xhtmlNext = '';
		let xhtmlPages = '';
		let xhtmlEnd = '';
		let link = linkPrefix + 'status/' + currentStatus;

		if(keyword !== '') link += '?keyword=' + keyword + '&page='; 
			else link += '?page=';

		if(currentPage > 1){
			xhtmlStart =`<li><a href="${link}${1}">Start</a></li>`;
			xhtmlPrevious =`<li><a href="${link}${currentPage - 1}">Previous</a></li>`;
		}

		if(currentPage < totalPages){
			xhtmlEnd =`<li><a href="${link}${totalPages}">End</a></li>`;
			xhtmlNext =`<li><a href="${link}${currentPage + 1}">Next</a></li>`;
		}

		let middle = Math.ceil(pageRanges/2);
		let min = currentPage - middle + 1;
		let max = min + pageRanges - 1;
		if(min <= 1 ){
			min = 1;
			max = pageRanges;
		}
		if(max >= totalPages){
			max = totalPages;
			min = ( max - pageRanges + 1 ) >= 1 ? (max - pageRanges + 1 ) : 1;
		}
		for(let i = min; i <= max;i++){
			if(i == currentPage){
				xhtmlPages += `<li class=" active"><a>${i}</a></li>`;
			} else {
				xhtmlPages += `<li ><a href="${link}${i}">${i}</a></li>`;
			}
		}
		xhtmlPagination = '<ul class="pagination text-center">' + xhtmlStart + xhtmlPrevious + xhtmlPages + xhtmlNext + xhtmlEnd + '</ul>'; 
	}
		return `
        <div class="panel panel-info" id="pagination">
			<div class="panel-heading">
				Page
				<span>^</span>
				<span class="label label-danger">Total entries: ${totalItems}</span>
				<span class="label label-warning">Total pages: ${totalPages}</span>
			</div>

			<div class="panel-body">
				<div class="infor-pagination">
					<p>Trang số: <span>${currentPage}</span></p>
					<p>Hiển thị <span> ${from} </span> đến <span>${to}</span> trên tổng <span>${totalItems}</span></p>
				</div>
				<div class="ad-pagination">
					${xhtmlPagination}
					</ul>
				</div>
			</div>
		</div>
        `;
    }
%>